@font-face {
    font-family: Pacifico;
    src: url(/Fonts/Pacifico.ttf) format("TrueType");
}


/* Montserrat */

@font-face {
    font-family: montserrat;
    src: url(/Fonts/Montserrat-Regular.ttf) format("TrueType");
}

@font-face {
    font-family: montserrat-bold;
    src: url(/Fonts/Montserrat-Bold.ttf) format("TrueType");
}

@font-face {
    font-family: montserrat-black;
    src: url(/Fonts/Montserrat-Black.ttf) format("TrueType");
}

@font-face {
    font-family: montserrat-light;
    src: url(/Fonts/Montserrat-Light.ttf) format("TrueType");
}

@font-face {
    font-family: montserrat-thin;
    src: url(/Fonts/Montserrat-Thin.ttf) format("TrueType");
}


/* Montserrat */