<a id="Seccion1"></a>
<section class="Seccion1">
    <div class="container inicio">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="mont-bold animated fadeInDown">Deteccion temprana de anomalias cardiacas.
                </h1>

                <p class="animated fadeInDown delay1">
                    Salud, Tranquilidad y Confianza.
                </p>
                <br>
                <button class="btnComp mont-thin animated fadeInDown delay2">
                            Comprar
                        </button>
            </div>

            <div class="col-sm-3">
                <div class="video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/R-aXn8nkEZc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img src="../../assets/img/circle02.svg" alt="" class="circle2">
    <img src="../../assets/img/circle01.svg" alt="" class="circle">
    <img src="../../assets/img/arrows.svg" alt="" class="arrow animated infinite slideInDown arrowanimation">
</section>

<section class="Seccion2">
    <div class="centereds">
        <div class="comp">
            <div class="cir marg">
                <img src="../../assets/img/heart-solid.svg" alt="" class="tamicon">
            </div>
            <br>
            <p class="desc"> Las cardiopatias son la causa numero uno en muertes en todo el mundo.</p>
        </div>

        <div class="comp">
            <div class="cir marg">
                <img src="../../assets/img/heart-rate-solid.svg" alt="" class="tamicon">
            </div>
            <br>
            <p class="desc"> 50 años sin evolucion tecnologica en electrocardiogafia hasa ahora.</p>
        </div>

        <div class="comp">
            <div class="cir marg">
                <img src="../../assets/img/shield-alt-solid.svg" alt="" class="tamicon">
            </div>
            <br>
            <p class="desc"> Protegiendo tu corazon y tu familia.</p>
        </div>
    </div>
</section>

<section id="Seccion3" class="Seccion3">
    <div class="container">
        <div class="row">
            <div class="col-sm ">
                <img class="cel" src="../../assets/img/celphone.svg" alt="">
            </div>
            <div class="col-sm marg">
                <h2 class="mont-bold tit2 ">¿Como funciona?</h2>
                <p class="mont-thin">Cleverbeat es un dispositivo comodo y compacto que te ayudara a sabes si te dara un ataque al corazon<br> conectado a tu dispositivo movil por via bluetooth manda tus pulsos cardiacos a este, los recibe y los trabaja por medio de <br>                    nuestra aplicacion. Si detecta alguna anomalia recibiras una notificacion pidiendote que te quedes en donde estas<br> La App buscara el hospital más cercano y mandara una ambulancia a tu ubicacion para que seas tratado.
                </p>
            </div>
        </div>
    </div>
    <div class="container margtarjetas">
        <div class="row marLef">
            <div class="col-lg">
                <div class="container cajasombra">
                    <h5 class="mont-bold gris">Observadores</h5>
                    <div class="circsm"><img class="icon1" src="../../assets/img/heart-solid2.svg" alt=""></div>
                    <p>
                        Los observadores estan en motitoreando de manera constante al paciente vigilando que no este en peligro y si lo esta es el que mandara una alerta.
                    </p>
                </div>

            </div>
            <div class="col-lg">
                <div class="container cajasombra">
                    <h6 class="mont-bold gris">Plataforma Cleverbeat</h6>
                    <div class="circsm"><img class="icon1" src="../../assets/img//history-solid.svg" alt=""></div>
                    <p>
                        Esta Plataforma estara monitoreada por un medico observando el estatus de sus pacientes.
                    </p>
                </div>

            </div>
            <div class="col-lg">
                <div class="container cajasombra">
                    <h6 class="mont-bold gris">Aplicacion Cleverbeat</h6>
                    <div class="circsm"><img class="icon1" src="../../assets/img/mobile-android-alt-solid.svg" alt=""></div>
                    <p>
                        Esta aplicacion sera la que este recibiendo los datos de el dispositivo y mandandolos a la parte en donde se trabajaran y se estara observando el estatus del paciente.
                    </p>
                </div>

            </div>
        </div>
    </div>


</section>

<!-- <section class="Seccion2">

</section> -->

<section id="Seccion5" class="Seccion5">
    <div class="container marginRS marLef animated fadeInDown delay1">
        <div class="row marLef">
            <div class="col-lg redes">

                <img class="icon1" src="../../assets/img/facebook-square-brands.svg" alt="">
                <b class="textrs">/Cleverbeat</b>

            </div>
            <div class="col-lg redes">
                <img class="icon1" src="../../assets/img/twitter-square-brands.svg" alt="">
                <b class="textrs">@Cleverbeat</b>


            </div>
            <div class="col-lg redes">
                <img class="icon1" src="../../assets/img/youtube-brands.svg" alt="">
                <b class="textrs">/CleverbeatTv</b>


            </div>
        </div>
    </div>
</section>

<!-- <div class="container caracteristicas">
        <div class="row">
            <div class=" col-sm">
                <div class="cir">
                    <img src="../../assets/img/heart-solid.svg" alt="">
                </div> -->
<!-- <p class="mont-bold wt">Lorem ipsum dolor </p> -->
<!-- </div>
            <div class=" col-sm">
                <div class="cir">
                    <img src="../../assets/img/heart-solid.svg" alt="" class="">
                </div> -->
<!-- <p class="mont-bold wt">Lorem ipsum dolor </p> -->
<!-- </div>
            <div class=" col-sm">
                <div class="cir">
                    <img src="../../assets/img/heart-solid.svg" alt="">
                </div> -->
<!-- <p class="mont-bold wt">Lorem ipsum dolor </p> -->
<!-- </div>
        </div>
    </div> -->