<a id="Seccion1"></a>
<section class="Seccion1">
    <div class="container inicio">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="mont-bold animated fadeInDown">CleverBeat.
                </h1>

                <p class="animated fadeInDown delay1">
                    Salud, Tranquilidad y Confianza.
                </p>
                <br>
                <button class="btnComp mont-thin animated fadeInDown delay2">
                            Comprar
                        </button>
            </div>

            <div class="col-sm-3">
                <div class="video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/R-aXn8nkEZc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img src="../../assets/img/circle02.svg" alt="" class="circle2">
    <img src="../../assets/img/circle01.svg" alt="" class="circle">
    <img src="../../assets/img/arrows.svg" alt="" class="arrow animated infinite slideInDown arrowanimation">
</section>

<section class="Seccion2">
    <div class="centereds">
        <div class="comp">
            <div class="cir marg">
                <img src="../../assets/img/heart-solid.svg" alt="" class="tamicon">
            </div>
            <br>
            <p class="desc">De acuerdo a datos de la mueren 17.7 millones de cardiopatas en el mundo, esto quiere decir 1 personas cada dos segundos.</p>
        </div>

        <div class="comp">
            <div class="cir marg">
                <img src="../../assets/img/heart-rate-solid.svg" alt="" class="tamicon">
            </div>
            <br>
            <p class="desc"> Monitoreo preventivo de las derivaciones cardiacas para cuidarte a ti y a tu familia.</p>
        </div>

        <div class="comp">
            <div class="cir marg">
                <img src="../../assets/img/shield-alt-solid.svg" alt="" class="tamicon">
            </div>
            <br>
            <p class="desc"> Confianza, seguridad y calidad en el desarrollo de esta herramienta preventiva desarrollado por algunos de los mejores talentos de México.</p>
        </div>
    </div>
</section>

<section id="Seccion3" class="Seccion3">
    <div class="container">
        <div class="row">
            <div class="col-sm ">
                <img class="cel" src="../../assets/img/celphone.svg" alt="">
            </div>
            <div class="col-sm marg">
                <h2 class="mont-bold tit2 ">¿C&oacute;mo funciona?</h2>
                <p class="mont-thin">CleverBeat es un monitor cardiaco no invasivo preventivo, el cual consta de dos herramientas:
                    <ul>
                      <li>1.- Plataforma Medica</li>
                      La plataforma medica es de acceso universal, siendo necesario solamente el ID del paciente para poder ingresar por parte de cualquier medico del mundo.
                      En la cual el medico es capaz de observar su ultimo electrocardiograma generado por CleverBeat, un historial electrocardiografico de 14 días como maximo del paciente en uso de CleverBeat y un historial de eventos cardiacos detectados por el dispositivo.
                     
                      <li>2.- Aplicación Movil</li>
                      La aplicación movil es el medio de comunicación con nuestra nube, la aplicación esta diseñada para recopilar la información obtenida por CleverBeat, informa al usuario de su estado actual de salud y en caso de emergencia acciona mecanismos para proteger su vida al igual de mandar mensajes a sus familiares más cercanos o amigos de su situación.
                      <li>3.- The Watchers</li>
                      Es nuestro equipo de reacción inmediata en caso de detectar un evento cardiaco inminente el cual se encargara de llevarte la atención medica necesaria antes de que sea demasiado tarde.
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="container margtarjetas">
        <div class="row marLef">
            <div class="col-lg">
                <div class="container cajasombra">
                    <h5 class="mont-bold gris">Detección</h5>
                    <div class="circsm"><img class="icon1" src="../../assets/img/heart-solid2.svg" alt=""></div>
                    <p>
                        Nuestro objetivo es poder brindar la atención necesaria a eventos cardiacos, para brindarte una mejor calidad de vida ocupando herramientas de detección de anomalias dentro de las señales cardiacas.
                    </p>
                </div>

            </div>
            <div class="col-lg">
                <div class="container cajasombra">
                    <h6 class="mont-bold gris">Historial</h6>
                    <div class="circsm"><img class="icon1" src="../../assets/img//history-solid.svg" alt=""></div>
                    <p>
                       La plataforma medica CleverBeat es una herramienta crucial para los cardiologos otorgando datos clave del corazon del paciente.
                    </p>
                </div>

            </div>
            <div class="col-lg">
                <div class="container cajasombra">
                    <h6 class="mont-bold gris">App CleverBeat</h6>
                    <div class="circsm"><img class="icon1" src="../../assets/img/mobile-android-alt-solid.svg" alt=""></div>
                    <p>
                        Herramienta diseñada para comunicar los datos del paciente con la nube CleverBeat y en caso de evento cardiaco poder otorgar seguimiento crucial a familiares y paciente.
                    </p>
                </div>

            </div>
        </div>
    </div>


</section>

<!-- <section class="Seccion2">

</section> -->

<section id="Seccion5" class="Seccion5">
    <div class="container marginRS marLef animated fadeInDown delay1">
        <div class="row marLef">
            <div class="col-lg redes">

                <img class="icon1" src="../../assets/img/facebook-square-brands.svg" alt="">
                <b class="textrs">/Cleverbeat</b>

            </div>
            <div class="col-lg redes">
                <img class="icon1" src="../../assets/img/twitter-square-brands.svg" alt="">
                <b class="textrs">@Cleverbeat</b>


            </div>
            <div class="col-lg redes">
                <img class="icon1" src="../../assets/img/youtube-brands.svg" alt="">
                <b class="textrs">/CleverbeatTv</b>


            </div>
        </div>
    </div>
</section>

<!-- <div class="container caracteristicas">
        <div class="row">
            <div class=" col-sm">
                <div class="cir">
                    <img src="../../assets/img/heart-solid.svg" alt="">
                </div> -->
<!-- <p class="mont-bold wt">Lorem ipsum dolor </p> -->
<!-- </div>
            <div class=" col-sm">
                <div class="cir">
                    <img src="../../assets/img/heart-solid.svg" alt="" class="">
                </div> -->
<!-- <p class="mont-bold wt">Lorem ipsum dolor </p> -->
<!-- </div>
            <div class=" col-sm">
                <div class="cir">
                    <img src="../../assets/img/heart-solid.svg" alt="">
                </div> -->
<!-- <p class="mont-bold wt">Lorem ipsum dolor </p> -->
<!-- </div>
        </div>
    </div> -->
